<h1>Eat The Burger!</h1>

<img src="../public/assets/img/burger.png">

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

<p> Enter a burger you want to eat </p>